header{
  height: 150px;
  text-align:center;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.ListOfNote, .ListOfNotes {
margin: 0px;
padding: 0px;
max-width: 80%;
}

.ListOfNote, .ListOfNotes > li{
  list-style: none;
  margin-left: 100px;
  width: 100%;

}

main{
  display: flex;
}

.Note{
  max-width: 700px;
  border: 2px solid black;
  padding: 15px 25px;
  margin-bottom: 20px;
}

.del-btn{
  background-color: transparent;
  padding: 15px 25px;
  border: 1px solid black;
  margin-left: 450px;
}

.add-btn{
  margin-top: 50px;
  margin-left: 200px;
  background-color: transparent;
  padding: 15px 25px;
  border: 1px solid black;
  margin-bottom: 30px;
  box-shadow: 1px 1px grey;
}

.add-btn:hover{
  box-shadow: none;
}

